%footer.app-footer
  %p
    Gitlab-Doge is maintained by #{link_to 'Eric Sabelhaus', 'https://github.com/e-sabelhaus'} and
    #{link_to 'Steven Haddox', 'https://github.com/e-sabelhaus'}

  %p
    Questions? Try the #{link_to 'FAQ', faq_path}

  %p
    Gitlab-Doge is open source software and may be redistributed under the terms specified in the
    #{link_to 'LICENSE', "#{ENV['SOURCE_URL']}/blob/master/LICENSE"}.

  %p
    Gitlab-Doge is forked from #{link_to 'Hound', 'https://github.com/thoughtbot/hound'}. Many thanks to
    the awesome developers at Thoughtbot who initially developed Hound!

  %ul.links
    %li
      = link_to "Source Code", "#{ENV['SOURCE_URL']}"
    %li
      = link_to "FAQ", faq_path
    %li
      = link_to "Terms", "#{ENV['SOURCE_URL']}/blob/master/doc/TERMS.md"
    %li
      = link_to "Privacy", "#{ENV['SOURCE_URL']}/blob/master/doc/PRIVACY.md"
    %li
      = link_to "Security", "#{ENV['SOURCE_URL']}/blob/master/doc/SECURITY.md"
