%header
  = link_to root_path do
    %h1.logo gitlab-doge
  - if signed_in?
    %ul.nav
      %li= link_to 'Your Repos', repos_path, class: 'repo-link'
      %li= link_to 'Configure Doge', configuration_path
      %li= link_to 'FAQ', faq_path
      %li
      = link_to sign_out_path do
        %i{:class => "fa fa-sign-out"}

